.pagetitle {
  font-weight: bold;
  color: black;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.deleteButton {
  color: white;
  background-color: gray;
}

.deleteButton:hover {
  background-color: black;
}

.mat-card-title {
  color: maroon;
}

.fieldName {
  color: maroon;
  font-weight: bold;
}

.fieldTitleAndData {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.detailCard {
  max-width: 600px;
}
