.remove {
  background-color: transparent;
  border-style: none;
}

.mat-form-field {
  width: 100%;
}

.mainSection {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 30px;
}

.dataSection {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.deleteSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.even {
  background-color: rgb(188, 218, 228);
}
.odd {
  background-color: white;
}
